#navegacao{
    display: flex;
    align-items: center;
    height: 62px;
    background-color: rgba(15, 15, 15, 0.9);
    width: 100%;
    color: white;
    position: fixed;
}
#logo{
    margin: 0 36px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
#letras-logo{
    fill: white;
}