#navegacao{
    display: flex;
    align-items: center;
    background: linear-gradient(
        to right, 
        rgba(15, 15, 15, 1) 0%,      /* Totalmente opaco na ponta esquerda */
        rgba(15, 15, 15, 0.93) 50%,   /* Bem translúcido exatamente no meio */
        rgba(15, 15, 15, 1) 100%     /* Totalmente opaco na ponta direita */
    );
    height: 62px;
    width: 100%;
    max-width: 2560px;
    color: white;
    position: fixed;
    z-index: 999;
}
#fake-nav{
    height: 62px;
    width: 100%;
    background-color: rgba(15, 15, 15, 1);
}
#logo{
    margin: 0 24px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
#letras-logo{
    fill: white;
}
#logo-idioma{
    align-self: flex-start;
    color: white;
    font-size: x-small;
    margin-top: 12px;
}
#donate{
    background-color: rgba(50, 50, 50, 1);
    height: 36px;
    font-weight: bold;
    padding: 0 9px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

@media screen and (max-width: 500px){
    #logo{
        margin: 0 9px;
    }
}