/*GLOBAL*/
@font-face {
	font-family: 'titulo';
	src: url(../fonts/Niramit/Niramit-Regular.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'titulo';
	src: url(../fonts/Niramit/Niramit-Bold.woff2) format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body{
    font-family: "titulo", Bahnschrift, Cascadia Code, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.next-step{
	font-family: "titulo", Bahnschrift, Cascadia Code, Courier New, Bazooka, CG Times, AvantGard Md BT, Moderna, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(241, 243, 245);
}
	

.elemento-invisivel{
    visibility: hidden;
}
.elemento-visivel{
    visibility: visible;
}
.linha{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

h3{
    font-size: x-large;
}

.destaque{
	font-weight: bold;
    /*color: #faad8e;*/
}

.italico{
	font-style: italic;
	font-size: 0.9em;
}